bin/
obj/
Debug/
Release/
publish/

.vs/
.vscode/
.idea/

*.dll
*.exe
*.pdb
*.cache
*.nupkg

*.log
*.txt

packages/
*.nupkg

TestResults/
*.trx
*.coverage
*.coveragexml
backup/
*.bak
*.tmp

launchSettings.json
appsettings.Development.json

